<%- include("../partials/head")%>
<body>
<%- include("../partials/logo")%>
<%- include("../partials/navItem")%>
<%- include("../partials/timer")%>
<%- include("../partials/button")%>
<audio id="timer-done-audio" autoplay/>
</body>